<!--

/*Agregar efecto de gradiente al springboard del content*/

a:link,	a:visited, a:hover, a:active { text-decoration:none; }
/*.ui-block-a, .ui-block-b, .ui-block-c { height: 100px; background-color: #424242;}*/
.ui-grid-a { text-align: center; }
.icon-label { color: #FFF; display: block; font-size:12px; font-weight:normal; text-shadow: 0px 0px #ff0000; }
.icon-springboard { position: absolute; bottom: 10px; width: 100%; text-align: center; }

/*	
.background-gradient {
  background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.22, rgb(92,92,92)),
	color-stop(0.57, rgb(158,153,158)),
	color-stop(0.84, rgb(92,92,92))
  );
  
  background-image: -moz-linear-gradient(90deg, rgb(92,92,92), rgb(158,153,158), rgb(92,92,92));
}
*/

/*Agregar efecto de gradiente al header*/
.header-gradient {
  background-image:
    -webkit-gradient(
	linear,left top,left bottom,
	from(#252525),
	color-stop(.5,#696969),
	to(#252525));
	
  /*background: 
	-webkit-linear-gradient(
	top, 
	#6A6A6A 0%,
	#313131 49%,
	black 60%,
	black 100%);*/
}

/*Agregar efecto de gradiente al footer*/
.footer-gradient {
  background-image:
    -webkit-gradient(
	linear,left top,left bottom,
	from(#252525),
	color-stop(.5,#696969),
	to(#252525));
}

/*Cambiar tipo de letra y tamao del header*/
#foo .ui-header {
  height: 41px;  
  font-family: Calibri;
}

/*Cambiar tamao y negrita de la letra del header*/
#foo .ui-header h1 {
  font-size: 1em;  
  font-weight:normal; 
}

/*Cambiar tipo de letra y tamao del footer*/
#foo .ui-footer {
  height: 41px;  
  font-family: Calibri;
}

/*Cambiar tamao y negrita de la letra del footer*/
#foo .ui-footer h1 {
  font-size: 1em;  
  font-weight:normal; 
}

/*Agregar efecto de gradiente a botones header*/
#menu {
  background-image: -webkit-linear-gradient(top,
  #5E6062 0%,
  #525355 50%,
  #4D4F51 50%,
  #565859 100%);
}

#menu_rojo {
background-image: -webkit-linear-gradient(top,
	#D34D5A 0%,
	#B83542 50%,
	#B02432 50%,
	#C15146 100%);
}

/*Cambiar los iconos en los botones*/
.ui-icon-filing-cabinet { 
  -webkit-box-shadow: none; 
  background:  url(../../plugins/glyphish/755-filing-cabinet-selected.png) 50% 50% no-repeat; 
  background-size: 14px 14px; 
}

.ui-icon-reply { 
  -webkit-box-shadow: none; 
  background:  url(../../plugins/glyphish/712-reply-selected.png) 50% 50% no-repeat; 
  background-size: 14px 14px; 
}

.ui-icon-gear { 
  -webkit-box-shadow: none; 
  background:  url(../../plugins/glyphish/740-gear-selected.png) 50% 50% no-repeat; 
  background-size: 14px 14px; 
}

.ui-icon-plus-circle { 
  -webkit-box-shadow: none; 
  background:  url(../../plugins/glyphish/746-plus-circle-selected.png) 50% 50% no-repeat; 
  background-size: 14px 14px; 
}

/*Permite utilizar iconos distintos a los estndar en la barra de navegacin del footer*/
.ui-navbar-custom .ui-btn .ui-btn-inner { 
  font-size: 11px!important; 
  padding-top: 24px!important; 
  padding-bottom: 0px!important; 
}

.ui-navbar-custom .ui-btn .ui-icon { 
  width: 30px!important; 
  height: 30px!important; 
  margin-left: -15px!important; 
  box-shadow: none!important; 
  -moz-box-shadow: none!important; 
  -webkit-box-shadow: none!important; 
  -webkit-border-radius: none !important; 
  border-radius: none !important; 
}
		
#usuario .ui-icon { 
  background:  url(../../plugins/glyphish/769-male-selected.png) 50% 50% no-repeat; 
  background-size: 25px 25px; 
}

#lista .ui-icon { 
  background:  url(../../plugins/glyphish/729-top-list-selected.png) 50% 50% no-repeat; 
  background-size: 20px 20px; 
}

#mapa .ui-icon { 
  background:  url(../../plugins/glyphish/789-map-location-selected.png) 50% 50% no-repeat; 
  background-size: 25px 25px; 
}

#flecha_derecha .ui-icon { 
  background:  url(../../plugins/glyphish/766-arrow-right-selected.png) 50% 50% no-repeat; 
  background-size: 20px 20px; 
}

-->